<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
</head>
<body>
    <h1>Sign up Page</h1>
    <hr>
    <div id="sign-in">
        <p>Enter Email Here</p>
        <input type="text" id="email" placeholder="Enter Email" onkeypress="handleEmail(event)">
        <br>
        <p>Enter Password Here</p>
        <input type="text" id="password" placeholder="Enter Password" onkeypress="handlePassword(event)">
        <br>
        <input type="text" id="confirmPassword" placeholder="Confirm Password" onkeypress="handlePassword(event)">
        <br>
        <button onclick="accountCreation()">Sign Up</button>
        <br>
        <br>
        <span id="passwordMismatch" style="color: red; display: none;">Passwords do not match</span>
        <span id="missingFields" style="color: red; display: none;">Please fill all fields</span>
        <br>
        </a>
        <a href="index.html" style="display: block;">
            Go back to homepage
        </a>
        <h2 id="successfulSignup" style="color: lightgreen; display: none;">Successful Sign up!</h2>
    </div>
    <script src="../validateForm.js"></script>
</body>
</html>